:root {
  --crl-accent-50: hsl(187, 59%, 74%);
  --crl-accent-100: hsl(187, 59%, 54%);
  --crl-accent-200: hsl(187, 60%, 40%);

  --crl-primary-10: hsl(340, 100%, 99%);
  --crl-primary-50: hsl(342, 100%, 97%);
  --crl-primary-100: hsl(351, 73%, 72%);
  --crl-primary-200: hsl(351, 73%, 62%);
  --crl-primary-400: hsl(209, 63%, 47%);
  --crl-primary-500: hsl(209, 65%, 27%);

  --crl-neutral-100: hsl(0, 0%, 100%);
  --crl-neutral-200: hsl(0, 0%, 96%);
  --crl-neutral-300: hsl(0, 0%, 90%);
  --crl-neutral-400: hsl(0, 0%, 60%);
  --crl-neutral-500: hsl(0, 0%, 50%);
  --crl-neutral-800: hsl(207, 35%, 13%);
  --crl-neutral-900: hsl(0, 0%, 7%);

  --fs-100: 0.5625rem;
  --fs-200: 0.75rem;
  --fs-300: 0.8525rem;
  --fs-400: 0.9rem;
  --fs-500: 1rem;
  --fs-600: 1.1875rem;
  --fs-700: 1.25rem;
  --fs-800: 1.575rem;
  --fs-900: 1.875rem;
  --fs-1000: 2.1rem;
  --fs-1100: 2.7rem;

  --fs-primary-heading: var(--fs-1100);
  --fs-secondary-heading: var(--fs-1000);
  --fs-tertiary-heading: var(--fs-800);
  --fs-quaternary-heading: var(--fs-700);
  --fs-nav: var(--fs-300);

  --ff-primary: "roboto", "Noto Sans KR", sans-serif;
  --ff-accent: "NEXON Lv1 Gothic";

  --ff-nav: var(--ff-accent);

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
  --size-1000: 6rem;
  --size-1100: 8rem;
}

/* reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  text-decoration: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
  height: 100%;
}
body {
  text-rendering: optimizeSpeed;
  line-height: 1.6;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* general styling */
body {
  font-family: var(--ff-primary);
  line-height: 1.5;
}
/* primary-header */
.primary-header {
  position: sticky;
  inset: 0 0 auto;
  z-index: 20;
  border-bottom: 1px solid rgba(0 0 0 /0.2);
}
@media (max-width: 43em) {
  .primary-header {
    position: fixed;
    top: 0;
  }
}
/* primary-navigation */

.mobile-nav-toggle {
  cursor: pointer;
  padding: var(--size-300);
  background-image: url(/portfolio2/images/icon-hamburger.svg);
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  transition: 0.15s;
}
.mobile-nav-toggle[aria-expanded="true"] {
  background-image: url(/portfolio2/images/icon-close.svg);
}
@media (min-width: 43em) {
  .mobile-nav-toggle {
    display: none;
  }
}
@media (max-width: 43em) {
  .primary-navigation {
    position: absolute;
    top: 101%;
    width: 100%;
    z-index: 10;
    transform: scale(1, 0);
    transform-origin: top center;
    background-color: var(--crl-neutral-100);
    box-shadow: -1rem 0 0 var(--crl-neutral-100);
  }
  .primary-navigation[data-visible] {
    transform: scale(1, 1);
    transition: 0.4s;
  }
}
.nav-list a {
  display: block;
}
@media (min-width: 43em) {
  .primary-navigation {
    display: block;
    word-break: keep-all;
  }
  .nav-list {
    display: flex;
    gap: clamp(var(--size-200), 1vw, var(--size-700));
    flex-wrap: wrap;
  }
  .nav-list > li > a {
    padding-block: 2rem !important;
  }
}

.nav-list > li > a:hover {
  color: var(--crl-accent-200);
  --crl-icon-account: var(--crl-accent-200);
}
.sub-nav-list {
  color: var(--crl-neutral-100);
  font-size: var(--fs-300);
  font-family: var(--ff-primary);
  background-color: var(--crl-neutral-900);
}

@media (max-width: 43em) {
  .nav-list > li > a {
    padding-block: var(--size-200);
  }

  .sub-nav-list {
    height: 0;
    overflow: hidden;
    transition: 0.2s;
    box-shadow: -1rem 0 0 var(--crl-neutral-900);
  }
  .sub-nav-list a {
    padding-block: var(--size-200);
  }
  .nav-list > li:hover > .sub-nav-list {
    height: 100%;
  }
  .sub-nav-list a:hover {
    color: var(--crl-accent-100);
  }
}
@media (min-width: 43em) {
  .nav-list > li {
    position: relative;
  }
  .nav-list > li > a {
    display: block;
    padding: var(--size-200);
  }
  .sub-nav-list {
    display: none;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 100%;
    transform: translatex(-50%);
    background-color: rgb(0 0 0 / 0.8);
    width: 200%;
    text-align: center;
  }
  .sub-nav-list a {
    padding: var(--size-200);
  }
  .nav-list > li:hover > .sub-nav-list {
    display: block;
    transition: 0.5s;
  }
  .sub-nav-list a:hover {
    background-color: var(--crl-accent-200);
  }
}

/* slider */
.slider-wrapper {
  position: relative;
}
.slider {
  position: absolute;
  left: 0%;
}
.slider-item__img {
  object-fit: cover;
  aspect-ratio: 1/0.85;
  filter: brightness(0.7);
}
@media (max-width: 43em) {
  .slider-wrapper {
    aspect-ratio: 1;
    text-align: center;
  }
  .slider-item__img {
    aspect-ratio: 1;
  }
}
.slider-item__content {
  position: absolute;
  top: -2rem;
  padding: var(--size-1000) var(--size-700);
}
.slider-item__title {
  max-width: 26ch;
}
@media (max-width: 43em) {
  .slider-item__content {
    padding: 10rem var(--size-700);
  }
  .slider-item__body {
    font-size: var(--fs-300);
  }
}

.slider-control {
  position: absolute;
  display: flex;
  gap: var(--size-100);
  left: 50%;
  transform: translate(-50%);
  top: 90%;
}
@media (max-width: 43em) {
  .slider-control {
    top: 70%;
  }
}
.slider-control button {
  width: 15px;
  aspect-ratio: 1;
  cursor: pointer;
  background-color: var(--crl-neutral-100);
  color: var(--crl-neutral-900);
  border-radius: 100vmax;
  border: 0;
}
.slider-control button:hover {
  background: var(--crl-accent-100);
  color: var(--crl-neutral-100);
}
.slider-control .active {
  background: var(--crl-accent-100);
}
.slider {
  display: flex;
}

/* card colored */
.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.card-item {
  padding-block: var(--size-500);
}
.card-item:hover {
  filter: brightness(90%);
}
.card-item:nth-child(1) {
  background: var(--crl-accent-100);
}
.card-item:nth-child(2) {
  background: var(--crl-primary-100);
}
.card-item:nth-child(3) {
  background: var(--crl-primary-400);
}
.card-item:nth-child(4) {
  background: var(--crl-primary-500);
}
.card__image {
  width: var(--size-700);
  aspect-ratio: 1/1;
}
.card__title::after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  transform: translatex(-50%);
  margin-block: var(--size-300);
  width: var(--size-500);
  height: 1px;
  background-color: var(--crl-neutral-100);
}

/* card-whited */

.card-whited {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  row-gap: var(--size-200);
}

@media (min-width: 43em) {
  .card-whited {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.card-whited-item {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(var(--size-100), 1vw, var(--size-200));
}
.card-whited-item:not(:first-child)::before {
  content: "";
  pointer-events: none;
  display: block;
  position: relative;
  left: -30%;
  width: 1px;
  height: var(--size-700);
  border-left: 3px dotted var(--crl-neutral-300);
}
.card-whited__img {
  width: 7vw;
  aspect-ratio: 1/1;
}

@media (max-width: 43em) {
  .card-whited-item {
    flex-direction: column;
    position: relative;
  }
  .card-whited-item:not(:first-child)::before {
    position: absolute;
    top: 20%;
  }
  .card-whited__img {
    width: var(--size-900);
  }
}

/* notice */

.notice {
  display: flex;
  justify-content: space-between;
}
.notice:hover .notice__body {
  color: var(--crl-primary-400);
}
.notice__body {
  font-size: var(--fs-400);
  color: var(--crl-neutral-900);
}
.notice__meta {
  flex-shrink: 0;
  display: flex;
  gap: var(--size-200);
  font-size: var(--fs-200);
  color: var(--crl-neutral-400);
}
.notice__meta .icon-eye-added::before {
  content: "" url(/portfolio2/images/icon-eye.png);
  margin-inline-end: var(--size-100);
}

/* review */

.review {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6.5rem, 1fr));
  gap: var(--size-300);
}
.review__body {
  font-size: var(--fs-300);
}
@media (max-width: 43em) {
  .review {
    grid-template-columns: 1fr 1fr;
  }
  .review__body {
    font-size: var(--fs-400);
  }
}

/* inform */

.inform-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--size-300);
  align-items: flex-start;
}

@media (max-width: 43em) {
  address span {
    display: block;
  }
  .inform-list {
    display: block;
  }
}
.inform-list li {
  white-space: nowrap;
}

/* external-link */

.external-link {
  display: flex;
  gap: var(--size-300);
  justify-self: end;
}

@media (max-width: 43em) {
  .external-link {
    justify-self: start;
  }
}
.external-link a {
  border-radius: var(--size-100);
  overflow: hidden;
}

/* intro ===================================================================== */
/* intro ===================================================================== */
/* intro ===================================================================== */
/* intro hero */
.hero[data-page="intro"] {
  background-image: linear-gradient(rgb(0 0 0/0.3), rgba(0 0 0 /0.3)),
    url(/portfolio2/images/intro-hero.jpg);
}
/* secondary-navigation */
@media (min-width: 43em) {
  aside {
    border-bottom: 1px solid rgb(0 0 0/0.2);
  }
}
.menu-list {
  display: flex;
  gap: var(--size-600);
  flex-wrap: wrap;
  align-items: center;
  row-gap: var(--size-300);
  color: var(--crl-neutral-300);
}
@media (max-width: 43em) {
  .secondary-navigation {
    width: 100%;
  }
  .menu-list {
    display: block;
    text-align: center;
  }
  .menu-list li {
    background-color: var(--crl-neutral-200);
  }
  .menu-list a {
    font-size: 60%;
    display: block;
    padding-block: var(--size-300);
  }
}
.menu-list a:hover {
  color: var(--crl-neutral-900);
  transition: color 0.5s;
}
.menu-list .active {
  color: var(--crl-neutral-900);
  padding-block: var(--size-500);
  border-bottom: 4px solid var(--crl-primary-100);
}

@media (max-width: 43em) {
  .menu-list .active {
    background-color: var(--crl-neutral-100);
    border-bottom: 5px solid var(--crl-primary-100);
    padding-block: 0;
  }
}

/* story (intro-01) */
.story {
  word-break: keep-all;
}
@media (max-width: 43em) {
  .story {
    text-align: center;
  }
}
.story__img {
  margin-inline: auto;
  display: block;
  width: 30rem;
}
h3.story__title {
  font-weight: var(--fw-light);
}
.story__summary-wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  text-align: center;
  align-items: center;
}
@media (max-width: 43em) {
  .story__summary-wrapper {
    display: block;
  }
}
.story__summary {
  display: inline-block;
  background-color: var(--crl-accent-100);
  border-radius: 100vmax;
  font-weight: var(--fw-regular) !important;
  color: var(--crl-neutral-100);
  padding-block: var(--size-500);
}
@media (max-width: 43em) {
  .story__summary {
    width: var(--size-900);
    aspect-ratio: 1;
  }
  .story__summary__inverse {
    width: auto;
    aspect-ratio: auto;
  }
}
.story__summary__inverse {
  background-color: var(--crl-neutral-100);
  font-weight: var(--fw-bold) !important;
  color: var(--crl-primary-400);
  border: 3px solid var(--crl-neutral-400);
}

/* greet */

.greet__img {
  border-top-left-radius: var(--size-500);
  border-top-right-radius: var(--size-500);
}
.greet__content {
  position: relative;
  top: -7rem;
  background-color: var(--crl-neutral-100);
  margin-inline: auto;
  max-width: 90ch;
}
@media (max-width: 43em) {
  .greet__content {
    position: static;
  }
}
.greet__keyword__body {
  background-color: var(--crl-neutral-200);
  border-left: 4px solid var(--border-crl, black);
  padding: var(--size-500);
}

/* expert */
.expert {
  display: flex;
  gap: var(--size-800);
  justify-content: flex-start;
  padding-block-start: var(--size-900);
  word-break: keep-all;
}
@media (max-width: 43em) {
  .expert {
    border-left: 0;
  }
}
.expert__person-wrapper > * {
  width: fit-content;
  border-left: 6px solid var(--crl-accent-100);
  line-height: 1;
  padding-left: var(--size-400);
}
.expert__person-wrapper h3 {
  font-size: var(--size-600);
  font-weight: var(--fw-bold);
}
.expert__person-wrapper p {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
  color: var(--crl-accent-200);
  word-break: keep-all;
  max-width: 5ch;
  padding-block-start: var(--size-200);
}
.expert__certification-wrapper {
  font-size: var(--fs-300);
  line-height: 1.8;
}
.expert__certification-wrapper dt {
  font-weight: var(--fw-bold);
}
.expert__certification-wrapper dd {
  max-width: 25ch;
}
.expert__certification-wrapper[data-phrase="long"] dd {
  max-width: 50ch;
}

.map {
  display: grid;
  grid-template-columns: 1fr 3fr;
  word-break: keep-all;
}
@media (max-width: 43em) {
  .map {
    grid-template-columns: none;
  }
}
.map__img {
  width: 100%;
  aspect-ratio: 2/1.3;
}
.map__img__text-wrapper {
  display: flex;
  justify-content: space-between;
}
/* intro ===================================================================== */
/* intro ===================================================================== */
/* intro ===================================================================== */
/* =========================================================================== */

/* program ===================================================================== */
/* program ===================================================================== */
/* program ===================================================================== */
/* =========================================================================== */

/* hero */
.hero[data-page="program"] {
  background-image: linear-gradient(rgb(0 0 0/0.3), rgba(0 0 0 /0.3)),
    url(/portfolio2/images/program-hero.jpg);
}

/* child */
.program {
  word-break: keep-all;
  line-height: 1.7;
}
.program__img {
  width: 20rem;
  margin-block-end: var(--size-500);
}
@media (max-width: 43em) {
  .program__img {
    width: 100%;
    object-fit: cover;
    height: 12rem;
  }
}
.program p {
  max-width: 63ch;
}
.program__subtitle {
  font-weight: var(--fw-regular);
  font-size: var(--fs-700);
  color: var(--crl-primary-200);
}
.program__title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-900);
}
.program__body {
  font-weight: var(--fw-light);
  font-size: var(--fs-700);
}
.program__subbody {
  font-weight: var(--fw-light);
  font-size: var(--fs-600);
  color: var(--crl-neutral-400);
}
.program__list {
  font-weight: var(--fw-light);
  font-size: var(--fs-700);
}
.program__list li::before {
  content: "";
  display: inline-block;
  position: relative;
  top: -0.2rem;
  width: 8px;
  height: 8px;
  border-radius: 100vmax;
  background-color: var(--crl-primary-200);
  margin-inline-end: var(--size-200);
}
.program__list[data-list-type="dash"] li::before {
  content: "-";
  background: transparent;
  top: 0;
}
/* price */

.price__description {
  position: relative;
  background-color: var(--crl-neutral-200);
  border-left: 3px solid var(--crl-accent-100);
  font-size: var(--fs-500);
  padding: var(--size-400) var(--size-700);
  word-break: keep-all;
}
.price__description::before {
  content: "\203B";
  position: absolute;
  left: var(--size-500);
}

.price__table {
  font-size: var(--fs-500);
  border-collapse: collapse;
  text-align: center;
  border-left: 0;
}
.price__table th {
  color: var(--crl-primary-200);
  font-weight: var(--fw-bold);
  background-color: var(--crl-primary-50);
  border-top: 2px solid var(--crl-primary-200) !important;
}
.price__table th,
td {
  border: 1px solid var(--crl-neutral-400);
  padding: var(--size-300) var(--size-700);
}

.price__table td {
  background-color: var(--crl-primary-10);
}
/* trial ===================================================================== */
/* trial ===================================================================== */
/* trial ===================================================================== */

.hero[data-page="trial"] {
  background-image: linear-gradient(rgb(0 0 0/0.3), rgba(0 0 0 /0.3)),
    url(/portfolio2/images/trial-hero.jpg);
}

/*
/* order ===================================================================== */
/* order ===================================================================== */
/* order ===================================================================== */

.hero[data-page="order"] {
  background-image: linear-gradient(rgb(0 0 0/0.3), rgba(0 0 0 /0.3)),
    url(/portfolio2/images/order-hero.jpg);
}

.circle-outter {
  position: relative;
  width: 15.5vw;
  aspect-ratio: 1;
  background-image: linear-gradient(
    var(--crl-accent-50) 0 50%,
    var(--crl-neutral-200) 50% 100%
  );
  border-radius: 100vmax;
  transform: rotate(50deg);
}
@media (max-width: 43em) {
  .circle-outter {
    width: 70vw;
  }
}
.circle-outter::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 2rem;
  z-index: 10;
  aspect-ratio: 1;
  transform: rotate(-50deg);
  background-image: url(/portfolio2/images/icon-gt.png);
  background-repeat: no-repeat;
}
@media (max-width: 43em) {
  .circle-outter::after {
    transform: rotate(40deg);
    right: 1rem;
    bottom: 3rem;
  }
  .circle-outter:last-child::after {
    display: none;
  }
}

@media (min-width: 43em) {
  .circle-outter:nth-child(-n + 3)::after {
    right: -0.5rem;
    top: -1.7rem;
  }
  .circle-outter:nth-child(4)::after {
    transform: rotate(40deg);
    right: -1.8rem;
    bottom: -1rem;
  }
  .circle-outter:nth-child(n + 5)::after {
    transform: rotate(-230deg);
    left: -1rem;
    bottom: -1.5rem;
  }
  .circle-outter:nth-child(5)::after {
    display: none;
  }
}
.circle {
  margin-inline: auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  column-gap: var(--size-800);
  row-gap: var(--size-800);
}
@media (max-width: 43em) {
  .circle {
    grid-template-columns: none;
    grid-template-rows: none;
  }
}
.circle-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--size-200);
  position: absolute;
  inset: 0;
  margin: auto;
  width: 15vw;
  aspect-ratio: 1;
  background-color: var(--crl-neutral-100);
  border-radius: 100vmax;
  transform: rotate(-50deg);
}
.circle__img {
  width: 7vw;
  aspect-ratio: 1;
  border-radius: 100vmax;
  margin-top: var(--size-400);
}
.circle__body {
  font-size: 1.8vw;
}
@media (max-width: 43em) {
  .circle-inner {
    width: 68.5vw;
  }
  .circle__img {
    width: 10rem;
  }
  .circle__body {
    font-size: var(--fs-800);
  }
}

/* text-area */
.text-area__title {
  font-size: var(--fs-1000);
  color: var(--crl-primary-500);
  font-weight: var(--fw-bold);
  text-align: center;
  word-break: keep-all;
  padding-inline: var(--size-400);
}
.text-area-wrapper {
  max-width: min(50rem, 90%);
  height: 20rem;
  overflow-y: scroll;
  background-color: var(--crl-neutral-200);
  margin-inline: auto;
  border-radius: var(--size-300);
  padding: var(--size-600) var(--size-700);
}

.text-area__sublist {
  counter-reset: count;
}
.text-area__subitem {
  counter-increment: count;
}
.text-area__subitem::before {
  content: counter(count) ".";
}
.text-area__item {
  font-weight: var(--fw-bold);
}
.text-area__subitem {
  font-weight: var(--fw-regular);
  color: var(--crl-neutral-500);
}
.text-area__img {
  margin-inline: auto;
  width: 20rem;
}
/*
=========================================================================== */
.gallery__img {
  aspect-ratio: 2/1.2;
  object-fit: cover;
}
.gallery__text-wrapper {
  background-color: var(--crl-neutral-200);
  padding: var(--size-400);
}
.gallery__title {
  font-size: var(--fs-600);
}
.gallery__body {
  font-size: var(--fs-300);
  color: var(--crl-neutral-400);
}
.gallery__body .icon-eye::before {
  content: "\00a0\00a0"url(/portfolio2/images/icon-eye.png) "\00a0";
  position: relative;
  top: 0.05rem;
}

/* member */
/* login */

.login {
  margin-inline: auto;
  text-align: center;
}
.login p {
  margin-inline: auto;
  color: var(--crl-neutral-500);
  max-width: 30ch;
  text-align: center;
}
.login__form .find__description {
  max-width: 47ch;
  font-size: var(--fs-400);
}

.login input {
  padding: var(--size-200) var(--size-1100) var(--size-200) var(--size-300);
  border-style: solid;
  border-width: 1px;
  border-radius: 0;
  border-color: var(--crl-neutral-400);
}
@media (max-width: 43em) {
  .id-wrapper,
  .password-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--size-100);
  }
  .login input {
    width: 100%;
    display: block;
  }
  .login label {
    width: fit-content;
    align-self: start;
  }
}
.login input::placeholder {
  color: var(--crl-neutral-400);
  font-size: var(--fs-300);
}
.login button {
  width: 100%;
}
.account-list {
  display: flex;
  justify-content: center;
}
.account-list a {
  display: block;
  padding-inline: var(--size-600);
  color: var(--crl-neutral-500);
}
.account-list li:not(:first-child) {
  border-left: 1px solid var(--crl-neutral-300);
}

/* join */
.join__terms-wrapper {
  height: 15rem;
  overflow-y: scroll;
  border: 1px solid var(--crl-neutral-300);
}
.join__terms {
  word-wrap: break-word;
  white-space: pre-wrap;
}
.join__next-wrapper {
  text-align: center;
}
.button.join__next {
  display: inline-block;
  padding-inline: 5em !important;
}

@media (max-width: 43em) {
  .button.join__next {
    width: auto;
    padding-inline: 5em !important;
  }
}
.join__form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-items: start;
  align-items: center;
}
@media (max-width: 43em) {
  .join__form {
    grid-template-columns: none;
    grid-auto-rows: fit-content;
  }
}
.join__form label {
  width: 100%;
  font-weight: var(--fw-bold);
  font-size: var(--fs-500);
  padding: var(--size-400) var(--size-400);
  background-color: var(--crl-neutral-200);
  border-block: 0.5px solid var(--crl-neutral-300);
}
.join__form label[for="code"] {
  height: 100%;
}
.join__form label::before {
  content: "*";
  color: var(--crl-accent-100);
  margin-inline-end: var(--size-100);
}
.join__form input:not([type="checkbox"]) {
  width: 16rem;
  height: 2.4rem;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  border-color: var(--crl-neutral-300);
}
.join__form input[type="checkbox"] {
  margin-inline-end: var(--size-200);
}
.join__form input::placeholder {
  color: var(--crl-neutral-400);
  font-size: var(--fs-400);
  padding: var(--size-300);
}
.join__input-wrapper {
  width: 100%;
  height: 100%;
  border-block: 0.5px solid var(--crl-neutral-300);
  display: flex;
  align-items: center;
  padding-inline-start: 1em;
}
@media (max-width: 43em) {
  .join__input-wrapper {
    padding-block: var(--size-300);
  }
}
.join__input-wrapper button {
  background-color: var(--crl-neutral-100);
  color: var(--crl-primary-400);
  border: 1px solid var(--crl-primary-400);
  padding: 0.5em 1em;
  margin-inline-start: 0.3em;
  font-size: var(--fs-400);
  transition: 0.2s;
  word-break: keep-all;
}
.join__input-wrapper button:hover {
  background-color: var(--crl-primary-400);
  color: var(--crl-neutral-100);
}
.join__code__img {
  border: 1px solid var(--crl-neutral-300);
}
.join__button-wrapper {
  text-align: center;
}
.join__button-wrapper button {
  display: inline-block;
  padding: var(--size-300) var(--size-900);
  border: 0;
  background-color: var(--crl-neutral-300);
  transition: 0.2s;
}
@media (max-width: 43em) {
  .join__button-wrapper button {
    padding: var(--size-300) var(--size-700);
  }
}
.join__button-wrapper button:hover {
  filter: brightness(0.8);
}
.join__button-wrapper button[data-colored] {
  background-color: var(--crl-accent-100);
  color: var(--crl-neutral-100);
}

/* component */
/* balloon */
.balloon {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--crl-neutral-100);
  border: 5px solid var(--crl-neutral-300);
  border-radius: var(--size-700);
  padding-block: var(--size-500);
  text-align: center;
  word-break: keep-all;
}
.balloon dt {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
  color: var(--crl-primary-400);
}
.balloon dd {
  font-size: var(--fs-700);
  font-weight: var(--fw-regular);
  color: var(--crl-neutral-900);
  max-width: 23ch;
}
@media (max-width: 43em) {
  .balloon {
    border-radius: 100vmax;
  }
}
/* button */

.map__button {
  display: flex;
  padding: var(--size-200) var(--size-500);
  gap: var(--size-600);
  border: 1px solid var(--crl-accent-100);
  color: var(--crl-accent-100);
  justify-content: space-between;
}
.map__button > * {
  flex: 1;
}
.map__button__icon {
  aspect-ratio: 1;
  width: 12px;
  --icon-crl: var(--crl-accent-100);
}
.map__button:hover,
.map__button:hover .map__button__icon {
  color: var(--crl-neutral-100);
  background-color: var(--crl-accent-100);
  --icon-crl: var(--crl-neutral-100);
}
/* hero */

.hero {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.hero__body {
  background-color: var(--crl-neutral-100);
  color: var(--crl-primary-100);
  font-size: var(--fs-800);
  padding: var(--size-400);
  border-radius: var(--size-300);
  max-width: 50ch;
}
.hero-wrapper {
  justify-items: center;
  grid-auto-columns: fit-content;
}

/* table */
@media (min-width: 43em) {
  .table-wrapper {
    overflow-x: scroll;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  word-break: keep-all;
}
.table th,
td {
  padding-block: var(--size-400);
  border-width: 1px;
  border-style: solid;
  border-color: var(--crl-neutral-300) transparent;
}
.table th {
  border-top-color: var(--crl-neutral-900);
  font-weight: var(--fw-bold);
}
.table__number {
  text-align: center;
}
.table__number,
.table__title {
  font-size: var(--fs-600);
  font-weight: var(--fw-regular);
}
.table__user,
.table__date,
.table__view {
  font-size: var(--fs-500);
  color: var(--crl-neutral-400);
  text-align: center;
}
.table__title::after {
  content: "\00a0"url(/portfolio2/images/icon-chat.png) "\00a0 1 "url(/portfolio2/images/icon-lock.png);
  font-size: var(--fs-500);
  color: var(--crl-neutral-500);
}
.table[data-icon="none"] .table__title::after {
  display: none;
}
.table__title[data-chat-icon="none"]::after {
  content: "\00a0 1 "url(/portfolio2/images/icon-lock.png);
}
@media (max-width: 43em) {
  .table__th__number,
  .table__th__user,
  .table__th__date,
  .table__th__view,
  .table__number,
  .table__user,
  .table__date,
  .table__view {
    display: none;
  }
  .table__title,
  .table__th__title {
    width: 100%;
  }
}
.table__title span {
  padding: var(--size-100);
  background-color: var(--crl-neutral-500);
  border-radius: 0.1rem;
  color: var(--crl-neutral-100);
  font-size: var(--fs-300);
  font-weight: var(--fw-light);
  margin-inline-end: var(--size-100);
}
.pagination {
  display: flex;
  gap: var(--size-100);
  justify-content: center;
  margin-inline: auto;
  line-height: 1;
}
.pagination a {
  padding: var(--size-300);
  aspect-ratio: 1;
}
.pagination__img-wrapper {
  border: 1px solid var(--crl-neutral-300);
  width: var(--size-600);
  aspect-ratio: 1;
}
.pagination__img {
  position: relative;
  top: 0.1rem;
}

.search {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
}
.search__form {
  grid-column: 2/3;
  justify-self: center;
}
.search > button {
  grid-column: 3/-1;
  width: fit-content;
  justify-self: end;
}
@media (max-width: 43em) {
  .search {
    grid-template-columns: none;
  }
  .search__form {
    grid-column: auto;
  }
  .search > button {
    grid-column: auto;
  }
}
@media (min-width: 43em) {
  .search > button {
    --flow-spacer: 0;
  }
}
.search__select {
  padding-block: var(--size-300);
}
.search__input {
  padding: 0.65rem var(--size-900) 0.65rem var(--size-300);
  position: relative;
  top: -0.06rem;
}
.search__input::placeholder {
  color: var(--crl-neutral-400);
}
.search__select,
.search__input {
  border-radius: 0;
  border: 1px solid var(--crl-neutral-400);
  font-size: var(--fs-300);
}
@media (max-width: 43em) {
  .search__select,
  .search__input,
  .button {
    width: 100%;
  }
  .button {
    margin-inline: auto;
  }
}
.search__select:focus,
.search__input:focus {
  border-color: var(--crl-accent-100);
  outline: 0;
}

/* dialog */
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
:modal {
  border: 0;
  margin: var(--size-500) auto;
}
.dialog__form {
  border: 0;
}
.dialog__label {
  font-weight: var(--fw-bold);
}
.dialog__close {
  border: 0;
  background-color: transparent;
}
.dialog__label-wrapper {
  border-bottom: 1px solid var(--crl-neutral-300);
  padding: var(--size-300);
}
.dialog__input {
  display: block;
  width: 90%;
  padding: var(--size-200) var(--size-1000) var(--size-200) var(--size-300);
  margin: var(--size-400) auto;
  border-width: 1px;
  border-color: var(--crl-neutral-300);
  border-style: solid;
}
.dialog__input::placeholder {
  color: var(--crl-neutral-400);
}
.button-wrapper button {
  transform: scale(0.9);
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: var(--size-100);
  border-block-start: 1px solid var(--crl-neutral-300);
  padding: var(--size-300);
}

/* button */
.button {
  padding: 1em 1em !important;
  position: relative;
  top: -0.05rem;
  border: 0;
  border-radius: 0;
  background-color: var(--crl-accent-100);
  color: var(--crl-neutral-100);
  font-size: var(--fs-400) !important;
  line-height: 1 !important;
}
.button[data-colored="none"] {
  background-color: var(--crl-neutral-500);
}
.button[data-colored="white"] {
  background-color: var(--crl-neutral-100);
  color: var(--crl-neutral-900);
  border: 1px solid var(--crl-neutral-300);
}
/* utility */
.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.border-bottom {
  border-bottom: 1px solid rgba(0 0 0 /0.1);
}
.border-bottom-dotted {
  border-bottom: 4px dotted rgba(0 0 0/ 0.1);
}
.border-left {
  border-left: 1px solid rgb(0 0 0 / 0.1);
}
@media (min-width: 43em) {
  .border-left-md {
    border-left: 1px solid rgb(0 0 0 / 0.1);
  }
}

.border-radius {
  border-radius: var(--size-400);
  border: 1px solid rgb(0 0 0 / 0.1);
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-nowrap {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-underline {
  text-decoration: underline;
}
.title--pointed {
  font-size: var(--fs-1000);
  font-weight: var(--fw-bold);
  color: var(--crl-primary-500);
}
.title--pointed::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 100vmax;
  background-color: var(--crl-accent-100);
}
.section-heading {
  border-bottom: 1px solid var(--crl-neutral-400);
  position: relative;
}
.section-heading::after {
  content: "" url(/portfolio2/images/icon-plus.png);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translatey(-50%);
  line-height: 1;
}
.margin-inline-auto {
  margin-inline: auto;
}
.even-columns {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: var(--size-300);
}
@media (min-width: 43em) {
  .even-columns.grid-column-left-bigger {
    grid-template-columns: 65% 35%;
  }
}
@media (max-width: 43em) {
  .even-columns {
    grid-auto-flow: row;
    grid-auto-flow: auto;
  }
}
.grid-two-columns-1to4 {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.grid-two-columns-2to3 {
  display: grid;
  grid-template-columns: 2fr 3fr;
}
@media (max-width: 43em) {
  .grid-two-columns-1to4 {
    grid-template-columns: none;
  }
  .grid-two-columns-2to3 {
    grid-template-columns: none;
    gap: var(--size-600);
  }
}
.justify-self-end {
  justify-self: end;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 43em) {
  .flex-space-between-md {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 43em) {
  .flex-column-reverse-sm {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--size-500);
  }
}

.flow > :not(:first-child) {
  margin-block-start: var(--flow-spacer, 1.5rem);
}

@media (max-width: 43em) {
  .flow-sm > :not(:first-child) {
    margin-block-start: var(--flow-spacer, 1.5rem);
  }
}
.section-border-radius {
  border-radius: var(--size-400);
  overflow: hidden;
}
.gap-500 {
  display: grid;
  gap: var(--size-500);
}
.gap-100 {
  display: grid;
  gap: var(--size-100);
}
.gap-300 {
  display: grid;
  gap: var(--size-300);
}
.gap-1000 {
  display: grid;
  gap: var(--size-1000);
}
@media (min-width: 43em) {
  .gap-1000-md {
    display: grid;
    gap: var(--size-1000);
  }
}
.grid-space-between {
  display: grid;
  justify-content: space-between;
  align-items: start;
}
.justify-items-center {
  justify-items: center;
}
.justify-items-end {
  justify-items: end;
}
@media (min-width: 43em) {
  .grid-auto-fit-md {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--auto-fit-min, 25rem), 1fr)
    );
  }
}

.grid-column {
  display: grid;
  grid-template-columns: repeat(var(--grid-column-count, 2), 1fr);
}
@media (max-width: 43em) {
  .grid-column {
    grid-template-columns: none;
  }
}
.container {
  --max-width: 1500px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.container-short {
  --max-width: 1200px;
  --padding: 2rem;

  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}
.container-very-short {
  --max-width: 550px;
  --padding: 2rem;

  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.text-accent-100 {
  color: var(--crl-accent-100);
}
.text-accent-200 {
  color: var(--crl-accent-200);
}
.text-primary-100 {
  color: var(--crl-primary-100);
}
.text-primary-200 {
  color: var(--crl-primary-200);
}
.text-primary-400 {
  color: var(--crl-primary-400);
}
.text-primary-500 {
  color: var(--crl-primary-500);
}
.text-neutral-100 {
  color: var(--crl-neutral-100);
}
.text-neutral-200 {
  color: var(--crl-neutral-200);
}
.text-neutral-300 {
  color: var(--crl-neutral-300);
}
.text-neutral-400 {
  color: var(--crl-neutral-400);
}
.text-neutral-500 {
  color: var(--crl-neutral-500);
}
.text-neutral-800 {
  color: var(--crl-neutral-800);
}
.text-neutral-900 {
  color: var(--crl-neutral-900);
}

.bg-accent-100 {
  background-color: var(--crl-accent-100);
}
.bg-primary-100 {
  background-color: var(--crl-primary-100);
}
.bg-primary-200 {
  background-color: var(--crl-primary-200);
}
.bg-primary-400 {
  background-color: var(--crl-primary-400);
}
.bg-primary-500 {
  background-color: var(--crl-primary-500);
}
.bg-neutral-100 {
  background-color: var(--crl-neutral-100);
}
.bg-neutral-200 {
  background-color: var(--crl-neutral-200);
}
.bg-neutral-800 {
  background-color: var(--crl-neutral-800);
}
.bg-neutral-900 {
  background-color: var(--crl-neutral-900);
}

.fs-100 {
  font-size: var(--fs-100);
}
.fs-200 {
  font-size: var(--fs-200);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-900 {
  font-size: var(--fs-900);
}
.fs-1000 {
  font-size: var(--fs-1000);
}
.fs-1100 {
  font-size: var(--fs-1100);
}

.fw-light {
  font-weight: var(--fw-light);
}
.fw-regula {
  font-weight: var(--fw-regular);
}
.fw-bold {
  font-weight: var(--fw-bold);
}

.fs-primary-heading {
  font-family: var(--ff-accent);
  font-weight: var(--fw-bold);
  font-size: var(--fs-primary-heading);
}
.fs-secondary-heading {
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-secondary-heading);
}
.fs-tertiary-heading {
  font-family: var(--ff-accent);
  font-weight: var(--fw-bold);
  font-size: var(--fs-tertiary-heading);
}
.fs-quaternary-heading {
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-quaternary-heading);
}

.fs-nav {
  font-size: var(--fs-nav);
  font-family: var(--ff-nav);
}

.ff-accent {
  font-family: var(--ff-accent);
}

@media (max-width: 43em) {
  .margin-block-start-700-sm {
    margin-block-start: var(--size-700);
  }
}

@media (max-width: 43em) {
  .padding-block-300-sm {
    padding-block: var(--size-300);
  }
}

.padding-block-300 {
  padding-block: var(--size-300);
}
.padding-block-500 {
  padding-block: var(--size-500);
}
.padding-block-start-500 {
  padding-block-start: var(--size-500);
}
.padding-block-end-500 {
  padding-block-end: var(--size-500);
}

@media (min-width: 43em) {
  .padding-block-500-md {
    padding-block: var(--size-500);
  }
}

.padding-block-700 {
  padding-block: var(--size-700);
}
.padding-block-start-700 {
  padding-block-start: var(--size-700);
}

.padding-block-end-700 {
  padding-block-end: var(--size-700);
}
.padding-block-900 {
  padding-block: var(--size-900);
}
.padding-block-end-900 {
  padding-block-end: var(--size-900);
}
.padding-inline-900 {
  padding-inline: var(--size-900);
}
.padding-block-1100 {
  padding-block: var(--size-1100);
}
.padding-block-end-1100 {
  padding-block-end: var(--size-1100);
}
.margin-block-end-300 {
  margin-block-end: var(--size-300);
}
.margin-block-end-700 {
  margin-block-end: var(--size-700);
}
.margin-block-start-700 {
  margin-block-start: var(--size-700);
}
@media (max-width: 43em) {
  .margin-block-start-900-sm {
    margin-block-start: var(--size-900);
  }
}
